server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: iam-service
          uri: lb://iam-service
          predicates:
            - Path=/iam-service/**
          filters:
            - StripPrefix=1

        - id: iam-service-swagger
          uri: lb://iam-service
          predicates:
            - Path=/iam-service/v3/api-docs/**
          filters:
            - RewritePath=/iam-service/v3/api-docs(?<segment>.*), /v3/api-docs${segment}
        #######################################################################################
        - id: inventory-service
          uri: lb://inventory-service
          predicates:
            - Path=/inventory-service/**
          filters:
            - StripPrefix=1

        - id: inventory-service-swagger
          uri: lb://inventory-service
          predicates:
            - Path=/inventory-service/v3/api-docs/**
          filters:
            - RewritePath=/inventory-service/v3/api-docs(?<segment>.*), /v3/api-docs${segment}
        #######################################################################################
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/orders/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    urls:
      - name: IAM Service
        url: /iam-service/v3/api-docs
      - name: Inventory Service
        url: /inventory-service/v3/api-docs
#      - name: Product Service
#        url: /product-service/v3/api-docs
#      - name: Order Service
#        url: /order-service/v3/api-docs
    urls-primary-name: IAM Service