server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      filter:
        circuit-breaker:
          enabled: true
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:3000
              - ${FE_DOMAIN}
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: iam-service
          uri: lb://iam-service
          predicates:
            - Path=/iam-service/**
          filters:
            - StripPrefix=1
#            - name: RequestRateLimiter
#              args:
#                redis-rate-limiter.replenishRate: 2
#                redis-rate-limiter.burstCapacity: 4
#                redis-rate-limiter.requestedTokens: 1
#            - name: CircuitBreaker
#              args:
#                name: iamService
#                fallbackUri: forward:/fallback/iam

        - id: iam-service-swagger
          uri: lb://iam-service
          predicates:
            - Path=/iam-service/v3/api-docs/**
          filters:
            - RewritePath=/iam-service/v3/api-docs(?<segment>.*), /v3/api-docs${segment}
        #######################################################################################
        - id: inventory-service
          uri: lb://inventory-service
          predicates:
            - Path=/inventory-service/**
          filters:
            - StripPrefix=1

        - id: inventory-service-swagger
          uri: lb://inventory-service
          predicates:
            - Path=/inventory-service/v3/api-docs/**
          filters:
            - RewritePath=/inventory-service/v3/api-docs(?<segment>.*), /v3/api-docs${segment}
        #######################################################################################
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/notification-service/**
          filters:
            - StripPrefix=1
        - id: notification-service-swagger
          uri: lb://notification-service
          predicates:
            - Path=/notification-service/v3/api-docs/**
          filters:
            - RewritePath=/notification-service/v3/api-docs(?<segment>.*), /v3/api-docs${segment}
        #######################################################################################
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/order-service/**
          filters:
            - StripPrefix=1
        - id:  order-service-swagger
          uri: lb://order-service
          predicates:
            - Path=/order-service/v3/api-docs/**
          filters:
            - RewritePath=/order-service/v3/api-docs(?<segment>.*), /v3/api-docs${segment}
        #######################################################################################
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/payment-service/**
          filters:
            - StripPrefix=1
        - id: payment-service-swagger
          uri: lb://payment-service
          predicates:
            - Path=/payment-service/v3/api-docs/**
          filters:
            - RewritePath=/payment-service/v3/api-docs(?<segment>.*), /v3/api-docs${segment}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    urls:
      - name: IAM Service
        url: /iam-service/v3/api-docs
      - name: Inventory Service
        url: /inventory-service/v3/api-docs
      - name: Notification Service
        url: /notification-service/v3/api-docs
      - name: Order Service
        url: /order-service/v3/api-docs
      - name: Payment Service
        url: /payment-service/v3/api-docs
    urls-primary-name: IAM Service
